
<section class="section certificate-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-id-badge fa-stack-2x"></i>
      <i class="fas fa-id-badge fa-stack-1x fa-inverse"></i>
    </span>
    Badges
  </h2>
  <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="166a4f25-1e28-4727-884c-5ef9a1982f07" data-share-badge-host="https://www.youracclaim.com"></div>
  <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="ad4254ca-6c3f-4d76-8695-a268cb526e9c" data-share-badge-host="https://www.youracclaim.com"></div>
  <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="d1d54dcd-6147-4dd6-b89d-c3c82d744aaf" data-share-badge-host="https://www.youracclaim.com"></div>

</section><!--//section-->
